.cardup{
	overflow: hidden;
	border-bottom: 4px solid #B39B72;
}
.cardapio{
	margin: 41px 800px;
	font-size: 62px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
    color: #886839;
}
.cardown{
	overflow: hidden;
	padding-bottom: 80px;
}
.lista1{
	margin-top: 40px;
	margin-left: 350px;
	margin-right: 300px;
	border: 2px solid black;
	background-color: #F7F7F7;
	width: 1200px;
}
.lista2{
	margin-top: 50px;
	margin-left: 350px;
	margin-right: 300px;
	width: 1200px;
	border: 2px solid black;
	background-color: #F7F7F7;
}
.lista3{
	margin-top: 50px;
	margin-left: 350px;
	margin-right: 300px;
	width: 1200px;
	border: 2px solid black;
	background-color: #F7F7F7;
}
.doces{
	margin-top: 0px;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	padding: 10px 0px 5px 0px;
	margin-bottom: 0px;
}

.bebidas{
	margin-top: 0px;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	padding: 10px 0px 5px 0px;
	margin-bottom: 0px;
}

#divisor, #divisor2{
	padding: 10px 0px 5px 5px;
	color: #56A31C;
	font-size: 40px;
	margin-left: 0px;
}
#divisor{
	border-top: 2px solid black;
}
#divisor span, #divisor2 span{
	float: right;
	padding-right: 10px;
	color: #56A31C;
}
li span{
	float: right;
	padding-right: 20px;
	color: #458216;
}

.salgado{
	margin-top: 7px;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	padding: 10px 0px 5px 0px;
	margin-bottom: 0px;
}
.salgado > li{
	font-size: 32px;
	list-style: none;
	margin-left: 16px;
	color: #458216;
	display: none;
}
.descrição{
	font-size: 27px;
	list-style: none;
	padding: 8px 0px 8px 0px;
	color: black;
}
.salgado:hover li, .doces:hover li, .bebidas:hover li{
	display: block;
}

.doces > li{
	list-style: none;
	font-size: 32px;
	margin-left: 16px;
	color: #458216;
	display: none;
}
.bebidas li{
	list-style: none;
	font-size: 32px;
	margin-left: 16px;
	color: #458216;
	display: none;
}