@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    background-color: white;
    margin: 0px;
}
img{
    width: 130px;
    float: left;
    margin-left: 30px;
}
.topo, .rodapé{
    background-color: #D3B786;
    overflow: hidden;
}
.topo{
    border-bottom: 4px solid #B39B72;
    padding: 15px 30px;
}
.rodapé{
   padding: 70px 0px;
   border-top: 4px solid #B39B72;
   width: 100%;
   position: fixed;
   bottom: 0px;
}
nav{
    font-family: 'Josefin Sans', sans-serif;
    /*font-size: 1.2em;*/
    font-size: 24px;
    margin-top: 3.5%;
}
a{
    text-decoration: none;
    color: rgb(0, 80, 0);
    margin-left: 40px;
}
a:hover{
    animation-duration: 0.3;
    background-color: rgba(0, 80, 0, 0.13);  
      
}