@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    background-color: white;
    margin: 0px;
}
.topo img{
    width: 130px;
    float: left;
    margin-left: 30px;
}
.topo, .rodapé{
    background-color: #D3B786;
    overflow: hidden;
}
.topo{
    border-bottom: 4px solid #B39B72;
    padding: 15px 30px;
}
.rodapé{
   padding: 40px 0px;
   border-top: 4px solid #B39B72;
   width: 100%;
   position: static;
   bottom: 0;
}
nav{
    font-family: 'Josefin Sans', sans-serif;
    /*font-size: 1.2em;*/
    font-size: 24px;
    margin-top: 3.5%;
}
.topo a, .rodapé a{
    text-decoration: none;
    color: rgb(0, 80, 0);
    margin-left: 40px;
}
.topo a:hover, .rodapé a:hover{
    animation-duration: 0.3;
    background-color: rgba(0, 80, 0, 0.13);  
      
}
.rodapé li{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 80, 0);
    font-size: 20px;
    margin: 20px 5%;
}
.rodapé a{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 5%;
    font-size: 20px;
}
.mapimg{
    list-style-image: url(local.png);
}
.emailimg{
    list-style-image: url(email.png);
}
.teleimg{
    list-style-image: url(tele.png);
}
/*h1{
    font-size:62px;
    text-align:center;
    font-weight:bold;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 40px;
    margin-top: 5%;
    color:#886839
}
p{
    color:#886839;
    font-size:32px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}
.bairros1, .bairros2, .bairros3{
    font-size:21px;
    color: #886839;
    font-weight: bold;
    line-height:32px;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    margin-left: 150px;
    margin-right: 100px;
    margin-top:4%;
}
.comentario{
    width: 33%;
    display: inline-block;
    margin:0;
    margin-top: 2%;
    margin-bottom:2%;
    background-color:#F9EEC9;
    border-radius:10px;

    
}
.comentario p{
    font-size:18px;
    margin-top:60px
}
#nome{
    font-size:18px;
    margin-top:10px;
    font-weight:bold
}*/
