.horarioup{
	overflow: hidden;
	border-bottom: 4px solid #B39B72;
}
.horariodown{
	padding-bottom: 30px;
	overflow: hidden;
}
.horariodown ul{
	width: 700px;
}

.titulos{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 45px;
	text-decoration: underline;
	text-decoration-style: double;
    color: #886839;
    margin: 20px 0px 20px 200px;
    width: 400px;
}
.dias{
	list-style: none;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 30px 0px 30px 240px;
	color: #886839;
}
.listas{
	float: left;
}

.imagem{
	width: 800px;
	overflow: hidden;
	margin: 20px 70px 40px 0px;
	float: right;
	border-radius: 20px;
}

.imglado{
	width: 800px;
}
.horario{
	text-align: center;
	font-size: 62px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
    color: #886839;
}
.botao{
	width: 444px;
	margin-left: 700px;
}
.botaochamar{
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	background-color: #09AB00;
	padding: 30px 70px;
	display: inline-block;
	border-radius: 15px;
	border: 2px solid black;
	width: 300px;
}